<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Entrega</title>
    <body>
      <div>
        <h1>Entrega de Dispositivos</h1>
      </div>
      <div>
        <label>Costo Total del Trabajo</label>
        <input type="number" id="Costo" name="Costo" />
        <p></p>
        <label>Fecha de Entrega del Trabajo</label>
        <input type="date" id="Fecha" name="Fecha" />
        <p></p>
        <input type="submit" value="Entregar" />
      </div>
    </body>
  </head>
</html>
