<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Usuarios</title>
    <body>
      <div>
        <h1>Seccion para agregar nuevos "Usuarios"</h1>
      </div>
      <div>
        {% if message %}
        <div class="{{tipo}}">{{ message }}</div>
        {% endif %}
        <form action="{{ url_for('usuario_bp.insertar_en_db') }}" method="POST">
          <label>Nombre</label>
          <input type="text" id="Nombre" name="Nombre" />

          <p></p>

          <label>Apellidos</label>
          <input type="text" id="Apellidos" name="Apellidos" />

          <p></p>

          <label>Usuario</label>
          <input type="text" id="Usuario" name="Usuario" />

          <p></p>

          <label>Contrasena</label>
          <input type="password" id="Contrasena" name="Contrasena" />

          <p></p>

          <label>Rol</label>
          <input type="text" id="Rol" name="Rol" />

          <p></p>

          <input type="submit" value="Subir" />
        </form>
        <form action="{{ url_for('auth_bp.menu') }}" method="get">
          <input type="submit" value="continuar" />
        </form>
      </div>
    </body>
  </head>
</html>
