<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Usuarios</title>
    <body>
      <div>
        <h1>Seccion para agregar nuevos "Usuarios"</h1>
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" id="Nombre" name="Nombre" />

        <p></p>

        <label>Apellidos</label>
        <input type="text" id="Apellidos" name="Apellidos" />

        <p></p>

        <label>Nickname</label>
        <input type="text" id="Nickname" name="Nickname" />

        <p></p>

        <label>Contrasena</label>
        <input type="password" id="Contrasena" name="Contrasena" />

        <p></p>

        <label>Rol</label>
        <input type="text" id="Rol" name="Rol" />

        <p></p>

        <input type="submit" value="Subir" />
      </div>
    </body>
  </head>
</html>
